{{define "title"}}Change password{{end}}

{{define "main"}}
    <form action='/account/password/update' method='POST'>
        <div>
            <label for="current_password">Current Password</label>
            {{with .Form.FieldErrs.current_password}}
                <label for="current_password" class='error'>{{.}}</label>
            {{end}}
            <input type="password" name="current_password">
        </div>
        <div>
            <label for="new_password">New Password</label>
            {{with .Form.FieldErrs.new_password}}
                <label for="new_password" class='error'>{{.}}</label>
            {{end}}
            <input type="password" name="new_password">
        </div>
        <div>
            <label for="confirmed_new_password">Confirm New Password</label>
            {{with .Form.FieldErrs.confirmed_new_password}}
                <label for="confirmed_new_password" class='error'>{{.}}</label>
            {{end}}
            <input type="password" name="confirmed_new_password">
        </div>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <input type="submit" value="Change Password">
    </form>
{{end}}
