{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
    {{with .Snippet}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><code>{{range .Content | split_new_line}}{{.}}<br>{{end}}</code></pre>
        <div class='metadata'>
            <time>Created: {{readable_date .Created}}</time>
            <time>Expired: {{readable_date .Expired}}</time>
        </div>
    </div>
    {{end}}
{{end}}
